@model VTYS.Models.Entity.Student
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00426a">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span style="color: white;">Bilgi Yönetim Sistemi</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="@Url.Action("UpdateInfo", "Student")" class="btn btn-secondary">Bilgi Güncelle</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SelectCourse","SelectAdjectiveCourse")" class="btn btn-secondary">Seçmeli Ders Seç</a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Login", "Student")" class="btn btn-secondary">Çıkış</a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>
@{
    ViewData["Title"] = "Öğrenci Bilgileri";
}


    <h2>Öğrenci Bilgileri</h2><table class="table" border = "1"></table>
<table class="table" border = "1">
    <tr>
        <th>Öğrenci ID</th>
        <td>@Model.StudentId</td>
    </tr>
    <tr>
        <th>Ad Soyad</th>
        <td>@Model.Fullname</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>@Model.EMail</td>
    </tr>
    <tr>
        <th>Bölüm</th>
        <td>@Model.Major</td>
    </tr>
    <tr>
        <th>Sınıf</th>
        <td>@Model.Class</td>
    </tr>
    @if (Model.Instructor != null)
    {
        <tr>
            <th>Danışman</th>
            <td>@Model.Instructor.FullName</td>
        </tr>
    }
</table>

@if (Model.SelectedCourses.Any())
{
    <h3>Dersler</h3>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Ders Adı</th>
                <th>Onay Durumu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.SelectedCourses)
            {
                <tr>
                    <td>@course.Course.CourseName</td>
                    <td>@(course.IsApproved ? "Onaylı" : "Onaysız")</td>
                </tr>
            }
        </tbody>
    </table>
}

<style>
    th, td {
        color: white;
    }
</style>